[Unit]
Description=Ежечасная проверка превышения потребления трафика

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=2m

[Install]
WantedBy=timers.target
