[Unit]
Description=Определение потребителей трафика за день

[Service]
Type=oneshot
WorkingDirectory=/opt/trafWatch
ExecStart=/usr/bin/python main.py -d OneDay -t 200
Restart=on-failure
RestartSec=4min
; StartLimitBurst=3
; StartLimitInterval=1200

